{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<header>
    <nav class="navbar_top">
        <a href="index.php" class="navbar-brand"><i class="icon-wallet d-inline-block align-bottom"></i>Moje Finanse</a>
    </nav> 
</header>
<main>
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <section class="hello_panel"> 
                        
                            <div class="discripton">
                                <h1>Dziękujemy za rejestracje w serwisie</h1>
                                <p>Możesz juz zalogować się na swoje konto</p> 
                            </div>

                            <div class = "log_panel">
                    
                        <form action="logIn.php" method="POST">
                            <div class="icon-adult">Login</div>
                            <input type="text"  name="login" placeholder="login..">
                        
                           <div class ="icon-key">Hasło</div> 
                            <input type="password" name="pass" placeholder="hasło..">
                        
                            <input type="submit" value="Zaloguj">
                            </form>
                          
                            
                        </div>
                        
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p>Copyight &copy; 2020 - Krystian Lewandowski</p> 
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
