
.icon-login:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-wallet:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-trash-empty:before { content: '\e808'; } /* '' */
.icon-folder-open:before { content: '\e809'; } /* '' */
.icon-folder:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-ok-circled2:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-ok-circled:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-plus-circled:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-minus-circled:before { content: '\e815'; } /* '' */
.icon-forward:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-location:before { content: '\e819'; } /* '' */
.icon-left-big:before { content: '\e81a'; } /* '' */
.icon-right-big:before { content: '\e81b'; } /* '' */
.icon-flight:before { content: '\e81c'; } /* '' */
.icon-umbrella:before { content: '\e81d'; } /* '' */
.icon-truck:before { content: '\e81e'; } /* '' */
.icon-key-1:before { content: '\e81f'; } /* '' */
.icon-credit-card:before { content: '\e820'; } /* '' */
.icon-user-1:before { content: '\e821'; } /* '' */
.icon-users:before { content: '\e822'; } /* '' */
.icon-user-add:before { content: '\e823'; } /* '' */
.icon-thumbs-up:before { content: '\e824'; } /* '' */
.icon-thumbs-down:before { content: '\e825'; } /* '' */
.icon-plus-circled-1:before { content: '\e826'; } /* '' */
.icon-plus-squared-1:before { content: '\e827'; } /* '' */
.icon-minus-circled-1:before { content: '\e828'; } /* '' */
.icon-minus-squared-1:before { content: '\e829'; } /* '' */
.icon-plus-outline:before { content: '\e82a'; } /* '' */
.icon-plus-1:before { content: '\e82b'; } /* '' */
.icon-minus-outline:before { content: '\e82c'; } /* '' */
.icon-minus-1:before { content: '\e82d'; } /* '' */
.icon-th-list:before { content: '\e82e'; } /* '' */
.icon-ok-outline:before { content: '\e82f'; } /* '' */
.icon-ok-1:before { content: '\e830'; } /* '' */
.icon-cancel-outline:before { content: '\e831'; } /* '' */
.icon-cancel-1:before { content: '\e832'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e833'; } /* '' */
.icon-cancel-circled-1:before { content: '\e834'; } /* '' */
.icon-chart-pie:before { content: '\e835'; } /* '' */
.icon-chart-pie-alt:before { content: '\e836'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */