*, *:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242, 242, 242);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.wrapper {
    background-image: url(/img/rupixen-com-Q59HmzK38eQ-unsplash-3.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
/* kolory:
czarny 13 13 13
szary 119, 119, 119
napisy jasny szary 171 171 171
zolty 235 229 116
tlo 242 242 242
*/

.error {
    font-size: 15px;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: rgb(13, 13, 13);
    display: flex;
    color: rgb(253, 229, 116);
}
.discripton {
    font-size: 20px;
    font-weight: 700;
    color: rgb(13 , 13, 13);
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(245, 245, 243);
    padding: 20px;
    opacity: 60%;
}

label {
    display: flex
}

/* NAV */
nav {
    width: 100%;
    display: block;
}
.navbar_top a {
    color: rgb(253, 229, 116);
    font-size: 40px;
    font-weight: 800;
}

nav h1 {
    margin-left: 10px;
}

/* main */
main {
    min-height: 700px;
    background-color: rgb(245, 245, 243);
    text-align: center;
}
.main_panel {
    margin-top: 100px;
    max-width: 70%;
    min-height: calc(100vh - 30px); 
    margin-left: auto;
    margin-right: auto;
}
.manage_panel {
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.log_panel {
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(245, 245, 243);
    padding: 20px;
}
.register_panel {
    max-width: 350px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(245, 245, 243);
    padding: 20px;
}
.heading {
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.datePanel{
    padding: 10px;
}

/*Main nav*/

.dropdown-content {
display: none;
color: #007bff;
padding: 12px 16px;
z-index: 1;
}


/*Inputy*/
input[type=text], 
input[type= password],
input[type= email],
input[type=date],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit]
 {
    width: 100%;
    background-color: rgb(253, 229, 116);
    color: rgb(119, 119, 119);
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(248, 219, 89);
  }
/* tabela */

table 
{
    border-collapse: collapse;
    width: 100%;
}
  
th, td 
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
tr:hover 
{
    background-color:#f5f5f5;
}

.bilansIncome
{
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 5px;
}
.bilansExpense
{
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

  /*nie dziala ??? */
.lbutton {
    width: 100%;
    background-color: rgb(253, 229, 116);
    color: rgb(119, 119, 119);
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.lbutton:hover{
    background-color: rgb(248, 219, 89);
}
  /*hamburger button*/
.hamburger {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid white;
    background: transparent;
}
.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid white;
    transform: translateY(10px);

}
.hamburger::after {
    transform: translateY(25px);
}
/* Footer */
footer {
    background-color: rgb(245, 245, 243);
    border-top: solid 1px #e1e1e1;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
}
/* RWD */

@media (max-width: 800px) {
    .navbar_top a {
        color: rgb(253, 229, 116);
        display: flex;
        font-size: 40px;
        font-weight: 600;
    }
    .main_panel {
        margin-top: 50px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .manage_panel {
        width: 70%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 330px) {
    .navbar_top a {
        color: rgb(253, 229, 116);
        display: block;
        font-size: 20px;
        font-weight: 600;
    }
    .main_panel {
        margin-top: 50px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .heading {
        display: flex;
        font-size: 30px;
        font-weight: 400;
    }
    .manage_panel {
        width: 95%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 415px) {
    .navbar_top a {
        color: rgb(253, 229, 116);
        display: flex;
        font-size: 30px;
        font-weight: 600;
    }
    .main_panel {
        margin-top: 50px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .heading {
    display: flex;
    font-size: 30px;
    font-weight: 400;
    }
    .manage_panel {
        width: 90%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}